@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.recommendWrap {
  :global {
    .ant-select-selection {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .ant-btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -2;
    }
  }
}

.listItemTitle {
  font-size: 18px;
  color: #000;
}
.dragIcon {
  margin-right: 8px;
  cursor: pointer;
}
.listTag {
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  margin-top: 8px !important;
  :global {
    .anticon-close {
      font-size: 14px;
    }
  }
}
